<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

  </head>
  <body> 
      <div class="box"> 
      	   <div class="sidebar"> 
      	      <div class="logo">
      	      	<img src="./images/fob-logo.png">
      	      </div>
      	      <div class="menu-list">
      	    		<ul>
      	    			<a href="/"><li>HOME</li></a> 
      	    			<a href="/introduce"><li>INTRODUCE</li></a> 
      	    			<a href="/mv"><li>MUSIC</li></a> 
      	    			<a href="/news"><li>NEWS</li></a> 
      	    			<a href="/dz"><li>DISCUSS ZONE</li></a> 
      	    			<a href="/about"><li>ABOUT</li></a> 
      	    		</ul>
      	    	</div>
      	    	<div class="footer">
      	    		<p>Copyright © 2015</p>
      	    		<p>Design&Code By Charlotte</p>
      	    	</div>
      	     <div class="show-bth">
      	     	<div class="show" id="show"></div>
      	     </div> 
      	   </div>  

      	 <div class="content"> 
             <div class="thank"> 
             </div> 
             <div class="about"> 
               <p>Hi~ I am charlotte</p>
               <p>The intention of why i do this website just wanna to show the appreciate to Fall Out Boy</p>
               <p>Hope you guys like it~ LOL</p>
               <h1>How to connect me?</h1>
               <p>Github:<a href="https://github.com/CharlotteWu">CharlotteWu</a></p>
               <p>Weibo:<a href="http://weibo.com/u/5105243012/home?wvr=5">喳喳Niao</a></p>
               <p>Wechat:wyhongGlambert</p>
             </div>
        </div>
      </div>
      <div class="clear"></div>
  </body>
</html>