<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

  </head>
  <body> 
      <div class="box"> 
      	   <div class="sidebar"> 
      	      <div class="logo">
      	      	<img src="./images/fob-logo.png">
      	      </div>
      	      <div class="menu-list">
      	    		<ul>
      	    			<a href="/"><li>HOME</li></a> 
      	    			<a href="/introduce"><li>INTRODUCE</li></a> 
      	    			<a href="/mv"><li>MUSIC</li></a> 
      	    			<a href="/news"><li>NEWS</li></a> 
      	    			<a href="/dz"><li>DISCUSS ZONE</li></a> 
      	    			<a href="/about"><li>ABOUT</li></a> 
      	    		</ul>
      	    	</div>
      	    	<div class="footer">
      	    		<p>Copyright © 2015</p>
      	    		<p>Design&Code By Charlotte</p>
      	    	</div>
      	     <div class="show-bth">
      	     	<div class="show" id="show"></div>
      	     </div> 
      	   </div>  
      	 <div class="content1">
             <div class="dz">
               <h1>DISCUSS ZONE</h1>
               <p>Say Something about Fall Out Boy or anything you like to share...</p>
               <div class="text-zone">
                  <textarea rows="7" cols="100"></textarea>
               </div>
               <div class="discussed-list">
               <h2>Comment</h2>
                 <ul>
                   <li>
                     <div class="comment">
                       <div class="person">
                         <div class="name">Charlotte</div>
                         <div class="photo"><img src="./images/photo.jpg"></div>
                       </div>
                       <div class="thought"><p>hahha</p></div>
                     </div>
                   </li> 
                    <li>
                     <div class="comment">
                       <div class="person">
                         <div class="name">Charlotte</div>
                         <div class="photo"><img src="./images/photo.jpg"></div>
                       </div>
                       <div class="thought"><p>hahha</p></div>
                     </div>
                   </li> 
                    <li>
                     <div class="comment">
                       <div class="person">
                         <div class="name">Charlotte</div>
                         <div class="photo"><img src="./images/photo.jpg"></div>
                       </div>
                       <div class="thought"><p>hahha</p></div>
                     </div>
                   </li> 
                    <li>
                     <div class="comment">
                       <div class="person">
                         <div class="name">Charlotte</div>
                         <div class="photo"><img src="./images/photo.jpg"></div>
                       </div>
                       <div class="thought"><p>hahha</p></div>
                     </div>
                   </li> 
                 </ul>
               </div>
             </div>
      	 </div>
      </div>
      <div class="clear"></div>
  </body>
</html>