<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="/javascripts/js-script.js"></script>
  </head>
  <body> 
      <div class="box"> 
      	   <div class="sidebar"> 
      	      <div class="logo">
      	      	<img src="./images/fob-logo.png">
      	      </div>
      	      <div class="menu-list">
      	    		<ul>
      	    			<a href="/"><li>HOME</li></a> 
      	    			<a href="/introduce"><li>INTRODUCE</li></a> 
      	    			<a href="/mv"><li>MUSIC</li></a> 
      	    			<a href="/news"><li>NEWS</li></a> 
      	    			<a href="/dz"><li>DISCUSS ZONE</li></a> 
      	    			<a href="/about"><li>ABOUT</li></a> 
      	    		</ul>
      	    	</div>
      	    	<div class="footer">
      	    		<p>Copyright © 2015</p>
      	    		<p>Design&Code By Charlotte</p>
      	    	</div>
      	     <div class="show-bth">
      	     	<div class="show" id="show"></div>
      	     </div> 
      	   </div>  
      	 <div class="content1"> 
            <div class="team"><img src="./images/team.png"></div> 
         <div class="introduce">
           <p>
             <span>Fall Out Boy</span> is an American rock band formed in Wilmette, Illinois, a suburb of Chicago, in 2001. The band consists of vocalist/guitarist Patrick Stump, bassist Pete Wentz, guitarist Joe Trohman, and drummer Andy Hurley. The band originated from Chicago's hardcore punk scene, with which Wentz was heavily involved. The group was formed by Wentz and Trohman as a pop punk side project of their respective hardcore bands, and Stump joined shortly thereafter. The group went through a succession of drummers before landing Hurley and recording their debut album, Take This to Your Grave (2003), which became an underground success and helped the band gain a dedicated fanbase through heavy touring, as well as some moderate commercial success.</p> 
             <p>With Wentz as the band's lyricist and Stump as the primary composer, the band's 2005 major-label breakthrough, From Under the Cork Tree, produced two hit singles, "Sugar, We're Goin Down" and "Dance, Dance", and went double platinum, transforming the group into superstars and making Wentz a celebrity and tabloid fixture. Fall Out Boy received a Best New Artist nomination at the 2006 Grammy Awards. Their 2007 follow-up, Infinity on High, landed at number one on the Billboard 200 with 260,000 first week sales. It produced two worldwide hit singles, "This Ain't a Scene, It's an Arms Race" and "Thnks fr th Mmrs". Folie à Deux, the band's fourth album, created a mixed response from fans and commercially undersold expectations. Following the release of Believers Never Die - Greatest Hits, the band took a hiatus from 2009 to 2012 to "decompress", exploring various side projects. They regrouped and recorded Save Rock and Roll (2013), which gave the band their second career number one and produced the triple platinum top 20 single "My Songs Know What You Did in the Dark (Light Em Up)".</p> 
             <p>On November 24, 2014, the band announced the release of their sixth studio album, American Beauty/American Psycho, which was released on January 20, 2015 worldwide on Island Records. It was preceded by the Platinum top 10 hit "Centuries". The album peaked at No. 1, making it the group's third No. 1 album.</p> 
             <p>While Fall Out Boy's music has been typically described as pop punk and pop rock, the band were generally seen in the mid-2000s at the forefront of the "emo pop" explosion.[1] Take This to Your Grave has often been cited as an influential blueprint for pop punk music in the 2000s.</p> 
         </div>  
             <div class="team-member">
                <div class="pete p_pic" ><img src="./images/pete.jpg"></div>  
                <div class="patrick p_pic"><img src="./images/patrick.jpg"></div> 
                <div class="joe p_pic"><img src="./images/joe.jpg"></div> 
                <div class="andy p_pic"><img src="./images/andy.jpg"></div>
            </div>
            <div class="intro" >
               <div class="self_intro" >
                 <div class="pic"><img src="./images/pete.jpg"></div>
                 <div class="p-intro">
                  <div class="close"><b>X</b></div>
                   <h1>Pete Wentz</h1>
                   <p>Peter Lewis Kingston "Pete" Wentz III (born June 5, 1979)[1] is an American musician best known for being the bassist, primary lyricist and backing vocalist for the American rock band Fall Out Boy. Before Fall Out Boy's inception in 2001, Wentz was a fixture of the Chicago hardcore scene and was notably the lead vocalist/lyricist for Arma Angelus. During Fall Out Boy's temporary hiatus in 2009-12, Wentz formed the experimental electropop and dubstep group Black Cards. He owns a record label, Decaydance Records, which has signed bands such as Panic! at the Disco and Gym Class Heroes. Fall Out Boy returned in February 2013.</p> 
                </div>  
               </div>
               <div class="self_intro">
                 <div class="pic"><img src="./images/patrick.jpg"></div>
                 <div class="p-intro">
                  <div class="close"><b>X</b></div>
                   <h1>Patrick Stump</h1>
                   <p>Patrick Martin Stumph (born April 27, 1984), known professionally as Patrick Vaughn Stump,[9][10][11][12] is an American singer-songwriter, musician, record producer, actor and music critic, best known as the lead vocalist, guitarist, pianist, and composer of Fall Out Boy, an American rock band from Wilmette, Illinois. Stump embarked on a solo career as a side project from Fall Out Boy during its hiatus. 
                   He has been credited for being a soulful vocalist[13] suitable for R&B,[14] as well as one of the best voices in pop punk, according to Billboard.[15] With Fall Out Boy he placed singles in the top 10 of the US Billboard Hot 100 and their 2007 album Infinity on High reached No. 1 on the Billboard 200, with four more albums peaking in the top 10. The band has toured extensively, having performed over 1,300 shows since their inception in 2001.[16] Stump has collaborated with an extensive list of artists and has produced albums for other artists including Cobra Starship and Gym Class Heroes.</p> 
                </div>  
               </div>
               <div class="self_intro">
                 <div class="pic"><img src="./images/joe.jpg"></div>
                 <div class="p-intro">
                  <div class="close"><b>X</b></div>
                   <h1>Joe Trohman</h1>
                   <p>Joseph Mark "Joe" Trohman (born September 1, 1984) is an American musician, singer-songwriter, composer, and record producer. He is best known as the guitarist of the American rock band Fall Out Boy,[1] as well as the lead and rhythm guitarist for heavy metal supergroup The Damned Things. Fall Out Boy began as Trohman and Pete Wentz's side project from the hardcore punk scene they were involved with, and the band has scored three number one albums on the US Billboard 200. 
                   With Damned Things on hiatus, Trohman and Josh Newton formed With Knives and the duo released their debut EP "Schadenfreude" in April 2012 with Trohman on lead vocals and guitar. It was released through Son Of Man, the label he co-owns with Newton. With Knives played a few dates in the US before becoming quiet and announced the project was on a break. On February 4, 2013, Fall Out Boy announced a comeback with a new album, tour and single.</p> 
                </div>  
               </div>
               <div class="self_intro">
                 <div class="pic"><img src="./images/andy.jpg"></div>
                 <div class="p-intro">
                  <div class="close"><b>X</b></div>
                   <h1>Andy Hurley</h1>
                   <p>Andrew John "Andy" Hurley (born May 31, 1980) is an American musician and drummer. He is best known as the drummer of the Chicago-based rock band Fall Out Boy. Prior to Fall Out Boy, Hurley played in several hardcore punk bands. He joined Fall Out Boy as the full-time drummer in 2003 and was in the band's lineup until its hiatus in 2009. Following that, he formed the heavy metal supergroup The Damned Things with Fall Out Boy guitarist Joe Trohman; the group went on hiatus after its debut album, Ironiclast (2010), due to band members focusing on their original bands' new album cycles. Hurley moved on to hardcore punk band Enabler which released a debut album and toured in 2012. Fall Out Boy regrouping, new album and tour on February 4, 2013. The new album, Save Rock and Roll, was released April 16, 2013, with the punk EP PAX AM Days announced on September 30 and slated for release on October 15 the same year. 
                   Hurley is straight edge and has been vegan since he was 16.[2] Bands such as Metallica and Slayer inspired him to play the drums. Hurley is endorsed by C&C Custom drums, Sabian cymbals and Vic Firth drumsticks. </p> 
                </div>  
               </div>
          </div>
        </div>
      </div>
       <div id="mask" class="mask"></div>  
      <div class="clear"></div>
  </body>
</html>