<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

  </head>
  <body> 
      <div class="box"> 
      	   <div class="sidebar"> 
      	      <div class="logo">
      	      	<img src="./images/fob-logo.png">
      	      </div>
      	      <div class="menu-list">
      	    		<ul>
      	    			<a href="/"><li>HOME</li></a> 
      	    			<a href="/introduce"><li>INTRODUCE</li></a> 
      	    			<a href="/mv"><li>MUSIC</li></a> 
      	    			<a href="/news"><li>NEWS</li></a> 
      	    			<a href="/sdz"><li>DISCUSS ZONE</li></a> 
      	    			<a href="/about"><li>ABOUT</li></a> 
      	    		</ul>
      	    	</div>
      	    	<div class="footer">
      	    		<p>Copyright © 2015</p>
      	    		<p>Design&Code By Charlotte</p>
      	    	</div>
      	     <div class="show-bth">
      	     	<div class="show" id="show"></div>
      	     </div> 
      	   </div>  
      	 <div class="content1"> 
            <div class="team"><img src="./images/team.png"></div> 
         <div class="introduce">
           <p>
             <span>Fall Out Boy</span> is an American rock band formed in Wilmette, Illinois, a suburb of Chicago, in 2001. The band consists of vocalist/guitarist Patrick Stump, bassist Pete Wentz, guitarist Joe Trohman, and drummer Andy Hurley. The band originated from Chicago's hardcore punk scene, with which Wentz was heavily involved. The group was formed by Wentz and Trohman as a pop punk side project of their respective hardcore bands, and Stump joined shortly thereafter. The group went through a succession of drummers before landing Hurley and recording their debut album, Take This to Your Grave (2003), which became an underground success and helped the band gain a dedicated fanbase through heavy touring, as well as some moderate commercial success.</p> 
             <p>With Wentz as the band's lyricist and Stump as the primary composer, the band's 2005 major-label breakthrough, From Under the Cork Tree, produced two hit singles, "Sugar, We're Goin Down" and "Dance, Dance", and went double platinum, transforming the group into superstars and making Wentz a celebrity and tabloid fixture. Fall Out Boy received a Best New Artist nomination at the 2006 Grammy Awards. Their 2007 follow-up, Infinity on High, landed at number one on the Billboard 200 with 260,000 first week sales. It produced two worldwide hit singles, "This Ain't a Scene, It's an Arms Race" and "Thnks fr th Mmrs". Folie à Deux, the band's fourth album, created a mixed response from fans and commercially undersold expectations. Following the release of Believers Never Die - Greatest Hits, the band took a hiatus from 2009 to 2012 to "decompress", exploring various side projects. They regrouped and recorded Save Rock and Roll (2013), which gave the band their second career number one and produced the triple platinum top 20 single "My Songs Know What You Did in the Dark (Light Em Up)".</p> 
             <p>On November 24, 2014, the band announced the release of their sixth studio album, American Beauty/American Psycho, which was released on January 20, 2015 worldwide on Island Records. It was preceded by the Platinum top 10 hit "Centuries". The album peaked at No. 1, making it the group's third No. 1 album.</p> 
             <p>While Fall Out Boy's music has been typically described as pop punk and pop rock, the band were generally seen in the mid-2000s at the forefront of the "emo pop" explosion.[1] Take This to Your Grave has often been cited as an influential blueprint for pop punk music in the 2000s.</p>
             <p>While Fall Out Boy's music has been typically described as pop punk and pop rock, the band were generally seen in the mid-2000s at the forefront of the "emo pop" explosion.[1] Take This to Your Grave has often been cited as an influential blueprint for pop punk music in the 2000s.</p> 
         </div>  
             <div class="team-member">
                <div class="pete" >
               <div class="p-pic"> <img src="./images/pete.jpg"></div>
                  <div class="p-intro">
                   <h1>Pete Wentz</h1>
                   <p>Peter Lewis Kingston "Pete" Wentz III (born June 5, 1979)[1] is an American musician best known for being the bassist, primary lyricist and backing vocalist for the American rock band Fall Out Boy. Before Fall Out Boy's inception in 2001, Wentz was a fixture of the Chicago hardcore scene and was notably the lead vocalist/lyricist for Arma Angelus. During Fall Out Boy's temporary hiatus in 2009-12, Wentz formed the experimental electropop and dubstep group Black Cards. He owns a record label, Decaydance Records, which has signed bands such as Panic! at the Disco and Gym Class Heroes. Fall Out Boy returned in February 2013.</p>
                 </div>
            </div> 

            <div class="patrick"><img src="./images/patrick.jpg"></div>
            <div class="andy">
                 <img src="./images/andy.jpg">
                 
            </div>
            <div class="joe"><img src="./images/joe.jpg"></div> 
          </div>
        </div>
      </div>
      <div class="clear"></div>
  </body>
</html>