<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

  </head>
  <body> 
      <div class="box"> 
      	   <div class="sidebar"> 
      	      <div class="logo">
      	      	<img src="./images/fob-logo.png">
      	      </div>
      	      <div class="menu-list">
      	    		<ul>
      	    			<a href="/"><li>HOME</li></a> 
      	    			<a href="/introduce"><li>INTRODUCE</li></a> 
      	    			<a href="/mv"><li>MUSIC</li></a> 
      	    			<a href="/news"><li>NEWS</li></a> 
      	    			<a href="/dz"><li>DISCUSS ZONE</li></a> 
      	    			<a href="/about"><li>ABOUT</li></a> 
      	    		</ul>
      	    	</div>
      	    	<div class="footer">
      	    		<p>Copyright © 2015</p>
      	    		<p>Design&Code By Charlotte</p>
      	    	</div>
      	     <div class="show-bth">
      	     	<div class="show" id="show"></div>
      	     </div> 
      	   </div>  
      	 <div class="content">
      	     <div class="gramophone">
                 <div class="tonearm"> 
                   <div class="connect"></div>
                   <div class="tonearm-body">
                     <div class="tonearm-head">
                       <div class="tonearm-head-hat"></div>
                     </div>
                   </div> 
                 </div>
                 <div class="spin">
                   <div class="plate">
                       <div class="point"></div>
                   </div> 
                   <div class="cd">
                     <img src="./images/album/e010b44543a982265ef6409a8982b9014b90eba81.png">
                    <!--place the cds up here--> 
                    </div>
                 </div>
                 <div class="bth">
                   <div class="btn-style list"></div>
                   <div class="btn-style random"></div>
                 </div>
                 <div class="basic-bth">
                   <div class="pre"></div>
                   <div class="play"></div>
                   <div class="next"></div>
                 </div> 
              </div>
      	 </div>
      </div>
      <div class="clear"></div>
  </body>
</html>