<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="/javascripts/js-script.js"></script>
  </head>
  <body> 
      <div class="box"> 
      	   <div class="sidebar"> 
      	      <div class="logo">
      	      	<img src="./images/fob-logo.png">
      	      </div>
      	      <div class="menu-list">
      	    		<ul>
      	    			<a href="/"><li>HOME</li></a> 
      	    			<a href="/introduce"><li>INTRODUCE</li></a> 
      	    			<a href="/mv"><li>MUSIC</li></a> 
      	    			<a href="/news"><li>NEWS</li></a> 
      	    			<a href="/dz"><li>DISCUSS ZONE</li></a> 
      	    			<a href="/about"><li>ABOUT</li></a> 
      	    		</ul>
      	    	</div>
      	    	<div class="footer">
      	    		<p>Copyright © 2015</p>
      	    		<p>Design&Code By Charlotte</p>
      	    	</div>
      	     <div class="show-bth">
      	     	<div class="show" id="show"></div>
      	     </div> 
      	   </div>  
      	 <div class="content">
      	     <div class="gramophone">
                 <div class="tonearm"> 
                   <div class="connect"></div>
                   <div class="tonearm-body">
                     <div class="tonearm-head">
                       <div class="tonearm-head-hat"></div>
                     </div>
                   </div> 
                 </div>
                 <div class="spin">
                   <div class="plate">
                       <div class="point"></div>
                   </div>  
                 </div>
                 <div class="bth">
                   <div class="btn-style list"></div>
                   <div class="btn-style random"></div>
                 </div>
                 <div class="basic-bth">
                   <div class="pre"></div>
                   <div class="before"></div>
                   <div class="stop"></div>
                   <div class="after"></div>
                   <div class="next"></div>
                 </div> 
              </div>
              <!--cd list-->
              <div class="cd_list" id="cd_list">
                         <div class="cd_l" id="cd_l">
                           <div class="cd">
                              <div class="cd_size">
                                <img src="./images/album/American Beauty  American Psycho.png">
                              </div> 
                           </div>
                           <div class="cd">
                               <div class="cd_size">
                                <img src="./images/album/Save Rock and Roll.png">
                               </div> 
                           </div>
                           <div class="cd">
                               <div class="cd_size">
                                <img src="./images/album/Folie à Deux.png">
                               </div>  
                           </div>
                           <div class="cd">
                               <div class="cd_size">
                                <img src="./images/album/Infinity on High.png">
                               </div> 
                           </div>
                           <div class="cd">
                               <div class="cd_size">
                                <img src="./images/album/From Under the Cork Tree.png">
                               </div>  
                           </div>
                           <!--<div class="cd">
                               <img src="./images/album/Take This to Your Grave.png">
                           </div>
                           <div class="cd">
                                <img src="./images/album/Fall Out Boy's Evening Out with Your Girlfriend.png">
                           </div>--> 
                    </div>
                </div>
                <div class="music-list">
                  <div class="list ">
                     <audio src="./music/ABAP/01 Irresistible.m4a" ></audio>
                     <audio src="./music/ABAP/02 American Beauty _ American Psycho.m4a" ></audio>
                     <audio src="./music/ABAP/03 Centuries.m4a" ></audio>
                     <audio src="./music/ABAP/04 The Kids Aren't Alright.m4a" ></audio>
                  </div>
                  <div class="list ">
                     <audio src="./music/Save Rock and Roll/01 The Phoenix.m4a" ></audio>
                     <audio src="./music/Save Rock and Roll/02 My Songs Know What You Did In the Dark (Light Em Up).m4a" ></audio>
                     <audio src="./music/Save Rock and Roll/03 Alone Together.m4a" ></audio>
                     <audio src="./music/Save Rock and Roll/04 Where Did the Party Go.m4a" ></audio>
                  </div>
                </div>
      	 </div>
      </div>
      <div class="clear"></div>
  </body>
</html>